# MongoDB Atlas ulanish manzili (parolni 12345Qwert.com o'rniga qo'ying)
MONGODB_URI=mongodb://AZZO:12345Qwert.com@ac-h4lzhqg-shard-00-00.x0p1xel.mongodb.net:27017,ac-h4lzhqg-shard-00-01.x0p1xel.mongodb.net:27017,ac-h4lzhqg-shard-00-02.x0p1xel.mongodb.net:27017/azzo_market?ssl=true&replicaSet=atlas-4e8zz1-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0

# Admin panel paroli
ADMIN_PASSWORD=12345Qwert.com

PORT=3000

# To'lov rekvizitlari
CARD_UZCARD=8600060798598877
CARD_HUMO=9860176616888226
CARD_VISA=4023060149068644
CARD_MASTERCARD=5476381751725506

CRYPTO_USDT_TRC20_ADDRESS=TECnUjbJ9oGpKh7Qy2sHH5W3NRebMSqmoT
CRYPTO_USDT_BEP20_ADDRESS=0xD06807F84A8Bbe4b91831FBe65740edD30345B88
CRYPTO_ETH_ADDRESS=0xD06807F84A8Bbe4b91831FBe65740edD30345B88
CRYPTO_USDT_TON_ADDRESS=UQAwpSy-SIoMhHalsgxI5bcAX4eoez46YrOS68WI_znMkR8z
CRYPTO_BTC_ADDRESS=bc1qc98662z4dz9cg85e20jpn8xrpflx048mu667d8
CRYPTO_LTC_ADDRESS=ltc1qzk8gguapfmghlqy2tzhmyz35n0wfdrttgw3fsv
CRYPTO_SOL_ADDRESS=4fproTrzKG6UamLa1PmM87Qttnnw5CZXs4BxiPRTyo1c
