# MongoDB Atlas ulanish manzili (parolni <db_password> o'rniga qo'ying)
MONGODB_URI=mongodb+srv://AZZO:PAROL_BU_YERGA@cluster0.x0p1xel.mongodb.net/azzo_market?retryWrites=true&w=majority&appName=Cluster0

# Admin panel paroli (o'zingiz xohlagan kuchli parolni qo'ying)
ADMIN_PASSWORD=

PORT=3000

# Ixtiyoriy: to'lov rekvizitlari (agar standartidan boshqa bo'lsa)
# CARD_UZCARD=
# CARD_HUMO=
# CARD_VISA=
# CARD_MASTERCARD=
# CRYPTO_USDT_TRC20_ADDRESS=
# CRYPTO_USDT_BEP20_ADDRESS=
# CRYPTO_ETH_ADDRESS=
# CRYPTO_USDT_TON_ADDRESS=
# CRYPTO_BTC_ADDRESS=
